@import "partials/mixins";
@import "partials/setup";

* {
	padding: 0px; 
	margin: 0px;}

button:focus {outline:0;}

body {
	background-image: url('../assets/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: repeat-x repeat-y;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto;
	min-height: 100vh;
}

main {
	border-radius: 15px;
	text-align: center;
}

section.controls {
	display: flex;
	justify-content: space-around;
	position: relative;
	border: 4px solid #212121;
	border-radius: 15px;
	background-color: white;
	@include respond_to("medium"){
		transform: scale(0.99);
	}
	div.titleAndButtons {
		padding-bottom: 14px;
		padding-right: -14px;
		@include respond_to("small"){
			transform: scale(0.9);
		}
		h1 {
			font-size: 50px;
			padding-top: 7px;
			padding-bottom: 10px;
			font-family: 'Fredoka One', cursive;
			color: #ffcc33;
			text-shadow: 3px 3px 3px black;
			z-index: 1;
			@include respond_to("medium"){
				font-size: 33px;
			}
			@include respond_to("small"){
				font-size: 24px;
			}
		}
		div.buttonContainer {
			max-width: 500px;
			margin: 0 auto;
			.difficulity{
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			button {
				background-color: #ffcc33;
				font-family: 'Fredoka One', cursive;
				max-width: auto;
				min-width:90px;
				padding: 5px;
				height: 40px;
				border: 2px solid transparent;
				border-radius: 25px;
				@include respond_to("small"){
					font-size: 14px;
				}
			}
			#reset{
				min-width: 40px;
			}
		}
	}
	div.timer {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		flex-direction: column;
		@include respond_to("small"){
			transform: scale(0.8);
		}
		p, div {
			font-family: 'Fredoka One', cursive;
			font-size: 28px;
			color:#ffcc00;
			text-shadow: 3px 3px 3px black;
			text-align: center;
			@include respond_to("small"){
				font-size: 20px;
			}
		}
		.scoreCounter{
			font-color:#ffcc33;
		}
	}
	div.gameStats {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		@include respond_to("small"){
			transform: scale(0.8);
		}
		p {
			font-family: 'Fredoka One', cursive;
			font-size: 28px;
			color:#ffcc00;
			text-shadow: 3px 3px 3px black;
			@include respond_to("small"){
				font-size: 20px;
			}
		}
	}
}

section.gameboard {
	user-select: none;
	margin-top: 10px;
	padding-bottom: 20px;
	border: 4px solid #212121;
	border-radius: 15px;
	background-color: white;
	@include respond_to("medium"){
		transform: scale(0.99);
	}
	ul {
		// !!! CHANGES THE IOS HOVER TRANSPARENT !!!
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		margin: 0 auto;
		padding: 0;
		margin-top: 20px;
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		li.emojicard{
			font-size: 50px;
			flex-basis: 15%;
			margin: 2% 2%;
			transform-style: preserve-3d;
			transition: all 0.3s linear;
			//fliping transformation inspired by: http://css3.bradshawenterprises.com/flip/
			.front{
				border-radius: 8px;
				position: absolute;
				background-color: #ffcc33;
				width: 100%;
				height: 100%;
				font-family: 'Fredoka One', cursive;
				font-weight: 300;
				backface-visibility: hidden;
			}
			.back{
				background-color: #ffcc33;
				border-radius: 8px;
				display: block;
				height: 100%;
				transform: rotateY(180deg);
				box-sizing: border-box;
				backface-visibility: hidden;
			}
			@include respond_to("xsmall"){
				font-size: 30px;
			}
		}
		// dynamic classes to control the board;
		.flip, .correct{
			transform: rotateY(180deg);
		}
		.off{
			pointer-events: none;
		}
		//
	}
}

span.fa-stack {
	padding-top: 10px;
}

.fa-circle, a:visited {
	color: #1da1f3;
}

footer{
	padding:5px 10px;
	.creators{
		color: #ffffff;
		display: flex;
		align-items: center;
		a{
			margin-left: auto;
			padding-top: 0px;
			span.fa-stack {
				padding-top: 0px;
			}
		}
		p { 
			font-family: 'Open Sans', sans-serif;
			font-size: 15px;
		}
		@include respond_to("xsmall"){
			transform: scale(0.95);
			font-size: 12px;
		}
	}
}

.swal2-modal {
	font-family: 'Fredoka One', cursive;
}

span.result_score{
	color: #1da1f3;
}

.fa-question-circle{
	color: #534211;
}