article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0px;
  margin: 0px; }

/**
* todo: mixin to control responsive font size
* color-set: https://color.adobe.com/explore/?filter=newest
*/
body {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x repeat-y; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto; }

.holder {
  margin-top: 20px; }

main {
  border-radius: 15px;
  text-align: center; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: relative;
  border: 5px outset black;
  border-radius: 15px;
  background-color: white; }
  .controls h1 {
    font-size: 53px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-family: 'Fredoka One', cursive;
    color: #ffcc33;
    text-shadow: 3px 3px 3px black;
    z-index: 1; }

.timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .timer p, .timer div {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    text-align: center; }

.titleAndButtons {
  padding-bottom: 20px;
  padding-right: -20px; }

.gameStats {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px; }
  .gameStats p {
    font-family: 'Fredoka One', cursive;
    font-size: 28px; }

.buttonContainer {
  max-width: 500px;
  margin: 0 auto; }
  .buttonContainer .difficulity {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .buttonContainer button {
    background-color: #ffcc33;
    font-family: 'Fredoka One', cursive;
    width: 100px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 25px; }

.gameboard {
  margin-top: 10px;
  padding-bottom: 20px;
  border: 5px outset black;
  border-radius: 15px;
  background-color: white; }
  .gameboard ul {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gameboard ul li.emojicard {
      font-size: 50px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 15%;
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      margin: 2% 2%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .gameboard ul li.emojicard .front {
        border: 3px solid black;
        border-radius: 8px;
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
      .gameboard ul li.emojicard .back {
        border: 3px solid #ffcc33;
        background-color: #ffcc33;
        border-radius: 8px;
        display: block;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
    .gameboard ul .flip, .gameboard ul .correct {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    .gameboard ul .off {
      pointer-events: none; }

.alertWin {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .alertWin h3 {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px; }
  .alertWin h4 {
    display: block;
    font-size: 80px; }

.alertLose {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
  width: 300px;
  background-color: white;
  border: 3px solid black;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .alertLose h3 {
    font-family: 'Fredoka One', cursive;
    padding-bottom: 10px; }
  .alertLose h4 {
    display: block;
    font-size: 80px; }

span.fa-stack {
  padding-top: 10px; }

footer {
  padding: 5px 10px; }
  footer .creators {
    color: black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer .creators a {
      margin-left: auto;
      padding-top: 0px; }
      footer .creators a span.fa-stack {
        padding-top: 0px; }

.fa-circle, a:visited {
  color: #1da1f3; }

.creators p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-transform: uppercase; }

.swal2-modal {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase; }
